@import "tailwindcss";

@theme {
    --color-text: #1f2328;
    --color-secondary-text: #59636e;
    --color-link: #4493f8;
    --color-primary: #1f883d;
    --color-border: #d1d9e0;
    --color-bg: #fff;
    --color-bg-secondary: #f6f8fa;

    --color-btn-default-bgColor: #f6f8fa;
    --color-btn-default-bgColor-hover: #eff2f5;

    --color-switch-active: #fff;
    --color-switch-inactive: #e6eaef;
    --color-switch-border-active: #818b98;

    --color-warning: #9a6700;
}

@layer base {
    [data-theme='dark'] {
        --color-text: #f0f6fc;
        --color-secondary-text: #9198A1;
        --color-link: #4493f8;
        --color-primary: #3EB84F;
        --color-border: #3D444D;
        --color-bg: #0D1117;
        --color-bg-secondary: #151b23;

        --color-btn-default-bgColor: #212830;
        --color-btn-default-bgColor-hover: #283039;

        --color-switch-active: #010409;
        --color-switch-inactive: #212830;
        --color-switch-border-active: #656c76;

        --color-warning: #c59020;
    }

    * {
        @apply font-light
    }
}

@layer components {
    .card {
        border-color: var(--color-border);
        border-width: 1px;
        border-radius: 5px;
        padding: 15px;
    }

    .badge {
        border-radius: calc(infinity * 1px);
        border-width: 1px;
        border-color: var(--color-primary);
        color: var(--color-primary);
        padding-inline: 8px;
        font-size: var(--text-xs);
        height: min-content;
        line-height: 22px;
    }

    .btn {
        border-color: var(--color-border);
        border-width: 1px;
        border-radius: 5px;
        background: var(--color-btn-default-bgColor);
        padding-block: 8px;
        padding-inline: 16px;
        cursor: pointer;
    }

    .btn:hover {
        background: var(--color-btn-default-bgColor-hover);
    }
}